:root {
    --primary-background-color: white;
    --secondary-background-color: #fdfdfd;
    --tertiary-background-color: #f5f4f4;

    --decoration-line-color: #f5f5f6;
    --decoration-dot-color: #f0f0f0;

    --border-color: #eeeeef;

    --primary-text-color: #09090b;
    --secondary-text-color: #71717b;

    /* fonts */
    --font-pixelify: 'Pixelify Sans', sans-serif;
    --font-ibm-plex-mono: 'IBM Plex Mono', monospace;
}

body {
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

p {
    font-family: var(--font-ibm-plex-mono);
    padding: 0px;
    margin: 0px;
    line-height: 1.25rem;
}

div {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.heading-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 45px;
    width: 100%;
    align-items: center;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0px 0px 1px 0px;
}

.heading {
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-ibm-plex-mono);
    color: var(--primary-text-color);
    padding: 0px 16px 0px 16px;
}

.divider {
    height: 32px;
    width: 100%;
    background-color: var(--secondary-background-color);
    background-image: repeating-linear-gradient(135deg,
            /* Diagonal lines */
            var(--border-color) 0px,
            /* Light gray lines */
            transparent 1px,
            /* Line thickness */
            transparent 1px,
            /* Gap starts */
            transparent 10px
            /* Space between lines */
        );
    border-style: solid;
    border-color: var(--border-color);
    border-width: 1px 0px 1px 0px
}

.project-stack-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;
}

.stack-tag {
    height: 22px;
    display: inline-flex;
    padding: 0px 6px 0px 6px;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 4px;
    border-width: 1px;
    background-color: var(--secondary-background-color);
}

.stack-tag-text {
    font-size: 12px;
    font-weight: 300;
    color: var(--secondary-text-color);
}